# Decision Tree Classification
This project is about trying to predict which company earns more than a 100 dollars salary inline with their jobs and degrees.

In [1]:
import pandas as pd
df = pd.read_csv(r"C:\Users\Anotijakes\Documents\DATAS\CSV DATA\salaries.csv")
df.head()

  company                  job     degree  salary_more_than_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [2]:
# next we devide our data into target variables and independent variables
#  let our target variables be 'company', 'job' and degree while  our independent variable be  'salary_more_than_100k'.
# our target variable will be named 'input' and independent variable 'target'
inputs = df.drop('salary_more_than_100k', axis = 'columns')
target = df['salary_more_than_100k']

In [3]:
# as we all know, machine learning works only with numbers so we would need to covert the string columns to numbers
# one of the ways is to use the label encoder.

from sklearn.preprocessing import  LabelEncoder
# create objects for the model in the input columns
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [4]:
# create a new column for each column in the inputs and fit them to the machine learning model
inputs['company_new'] = le_company.fit_transform(inputs['company'])
inputs['job_new'] = le_job.fit_transform(inputs['job'])
inputs['degree_new'] = le_degree.fit_transform(inputs['degree'])
inputs.head()

  company                  job     degree  company_new  job_new  degree_new
0  google      sales executive  bachelors            2        2           0
1  google      sales executive    masters            2        2           1
2  google     business manager  bachelors            2        0           0
3  google     business manager    masters            2        0           1
4  google  computer programmer  bachelors            2        1           0

In [5]:
# since we we have created new columns with numbers, let's create a new variable where the old columns are dropped
inputs_new = inputs.drop(['company', 'job', 'degree'], axis = 'columns')
inputs_new.head()

   company_new  job_new  degree_new
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0

In [6]:
# let's import decision tree module from sklearn
from sklearn import tree
model = tree.DecisionTreeClassifier()

In [7]:
model.fit(inputs_new, target)

DecisionTreeClassifier()

In [8]:
# let's chheck our score
model.score(inputs_new, target)
# our score is 100% because we used the same data set we used for our training

1.0

In [9]:
# let's predict
# let's do for the first role
inputs_new

    company_new  job_new  degree_new
0             2        2           0
1             2        2           1
2             2        0           0
3             2        0           1
4             2        1           0
5             2        1           1
6             0        2           1
7             0        1           0
8             0        0           0
9             0        0           1
10            1        2           0
11            1        2           1
12            1        0           0
13            1        0           1
14            1        1           0
15            1        1           1

In [10]:
# let's check for the 'input_new' data set firstrole. if google which is 2, sales executive which is 2,and degree of
# bachelors which is 0 will earn a salary greater than 100 dollars
model.predict([[2,2,0]])

C:\Users\Anotijakes\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

our answer shows 0 which shows the person would earn less than 100 dollars.